@charset "utf-8";
/*通用*/
body {
	font: 12px "microsoft yahei", Arial, Helvetica, sans-serif;
	color:#666;
    margin:0px;
    padding:0px;
}
ul,li,p,h1,h2,h3,h4,h5,h6,dl,dt,dd {
    margin:0px;
    padding:0px;
    border:none;
    list-style:none;
}
input {border:none;}
.lf   {float:left;}
.rt  {float:right;}
.clear  {clear:both;}

/*整体布局*/
#top_box,#top_main,#nav,#banner,#main,#foot_box,#footer {
    width:1211px;
    margin:0px auto;
}

#top {
    width:100%;
    height:30px;
    background:#F7F7F7;
    line-height:30px;
    border-bottom:1px solid #eee;
}
#top_box {
    height:30px;    
}
#top_main {
    height:60px;
    padding:15px 0;
}
#nav {
    height:40px;
}
#foot_box {
    height:173px;
}
#footer {
    height:180px;
}

/**************************V02***********************************/
a  {
    color:#666;
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
    color:#ff0700;
}
/*顶部左侧的“收藏京东”*/
#top_box>img {
    display:block;
    float:left;
    margin:8px 4px;
}
#top_box>a {
    display:block;
    float:left;
    line-height:30px;
    width:60px;
}
/*顶部右侧的链接菜单*/
#top_box ul li {
    float:left;
    text-align:center;
    position:relative;
    margin-right:5px;
    z-index:1;
}
#top_box ul li b {
    height: 12px;
    border-left: 1px solid #DDD;
    padding:0px 5px 0px 0px;    
}
li.vip a {
    background:url(images/vip.jpg) left center no-repeat;
    padding-left:30px;
}
li.dakehu a {
    background:url(images/dakehu.jpg) left center no-repeat;
    padding-left:30px;
}
li.app_jd a {
    background:url(images/iconlist_2.png) -126px -357px no-repeat;
    padding-left:20px;
    height:26px;
    display:inline-block;
}
li.app_jd a:hover,li.app_jd a.hover{
    background-position: -126px -397px;
	color:red;
	text-decoration:underline;
}

/*top部分，“手机京东”的弹出菜单*/
#app_jd_items{
    display:none;
    position:absolute;
    left: 6px;
    top:30px;
    z-index:3;
    width: 215px;
    height:214px;
    padding: 50px 0 20px 20px;
    border:1px solid #DDD;
    border-top:1px solid #fff;
    box-shadow:0 0 10px #DDD;
    background:#fff url(images/app_jd_1.png) 10px 10px no-repeat;
}
#app_jd_items div.app,#app_jd_items div.bank {
    height:110px;
    padding-left:100px;
}
#app_jd_items div.app {
    background:url(images/app_jd_erwei.jpg) 15px center no-repeat;
}
#app_jd_items div.bank {
    background:url(images/app_jd_wangyin.png) 15px center no-repeat;
}
#app_jd_items h3 {
    text-align:left;
    padding-left:3px;
    color: #E4393C;
}
#app_jd_items a {
    width: 97px;
    height: 29px;
    display: block;
    margin-bottom:6px;
}
#app_jd_items a.app {
    background:url(images/iconlist_2.png) 0px -360px no-repeat;
}
#app_jd_items a.android {
    background:url(images/iconlist_2.png) 0px -399px no-repeat;
}

li.service>a {
    display:inline-block;
    height:26px;
    border:1px solid transparent;
    padding:0px 15px;
    background-image:url(images/jt_down.jpg);
    background-position:65px center;
    background-repeat:no-repeat;
}
li.service>a:hover,li.service>a.hover {
    background-image:url(images/jt_up.jpg);
    background-color:#fff;
    border:1px solid #DDD;
    border-bottom-width:0px;
    position:relative;
    z-index:40;
	color:red;
	text-decoration:underline;
} 

/*top部分，“客户服务”的弹出菜单*/
#service_items {
    display:none;
    position:absolute;    
    left:6px;
    top:27px;
    border:1px solid #ddd;
    border-top-width:0;
    background-color:#fff;
    box-shadow:0 0 10px #DDD;    
    z-index:30;
}
#service_items li {
    padding-left:10px;
    margin:0px;
}

/**************************V03***********************************/
/*搜索框*/
#search_box {
    width: 510px;
    padding: 4px 80px 0 40px;
    position:relative;
}
div.search {
    width:500px;
    height: 30px;
    margin-bottom: 5px;
    border: 3px solid #E4393C;
    background-color:#E4393C;
}
input.text {
    width: 405px;
    height: 20px;
    padding: 5px;
    background-color: #fff;
    line-height: 20px;
    color: #999;
    font-family: arial,"\5b8b\4f53";
}
input.button {
    width: 75px;
    background: #E4393C;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    height: 30px;
}
/*热门搜索*/
div.hot_words {
    height: 18px;
    color: #999;
    overflow: hidden;
}
div.hot_words span,div.hot_words a {
    float: left;
    font-weight: 400;
    margin-right: 10px;
    color: #999;
}
div.hot_words span {
    margin:0px;
}
/*我的京东*/
#my_jd {
    width: 65px;
    height: 30px;
    line-height: 30px;
    margin-top: 12px;
    background-image: url(images/iconlist_2.png);
    background-repeat: no-repeat;
    padding: 0 4px 0 25px;
    border: 1px solid #EFEFEF;
    background-position: -116px -24px;
    background-color: #F7F7F7;
    text-align: center;
    cursor: pointer;
    position:relative;
}
#my_jd b {
    border-style: solid;
    border-width: 5px;
    border-color: #CCC transparent transparent transparent;
    line-height: 27px;
    cursor: pointer;
    position:relative;
    top:10px;
    right:-3px;
}
#my_jd:hover {
    background-color:#fff;
    background-position: -116px -54px;
}
/*去购物车结算*/
#settle_up {
    width: 100px;
    height: 30px;
    line-height: 30px;    
    margin-top: 12px;
    margin-left:10px;
    padding: 0 5px 0px 25px;
    background-image: url(images/iconlist_2.png);
    background-repeat: no-repeat;
    border: 1px solid #EFEFEF;
    background-position: -115px -84px;
    background-color: #F7F7F7;
    text-align: center;
    cursor: pointer;
}
#settle_up:hover {
    background-color:#fff;
    background-position: -115px -114px;
    z-index:60;
    position:relative;
}
#settle_up b {
    border-style: solid;
    border-width: 5px;
    border-color: #CCC transparent transparent transparent;
    line-height: 27px;
    cursor: pointer;
    position:relative;
    top:10px;
    right:-5px;
}

/**************************V04***********************************/
/*页脚*/
#foot_box {
    height:173px;
    border-top:1px #DDD solid;
    border-bottom:1px #F1F1F1 solid;
    margin-top:12px;
    background: #FFF;
}
#foot_box p {
    display:inline-block;
    width:40px;
    height:40px;  
    float:left;
    margin:5px 5px 0px 55px;
    background-image:url(images/iconlist_2.png);
    background-repeat:no-repeat;
}
#foot_box ul {
    width:140px;
    float:left;
 }
 #foot_box ul li {
    line-height:22px;
 }
 #foot_box ul li b {
    font-weight:bold;
    line-height:30px;
 }
#foot_box a:hover {color:#ff0700;}
p.shopping_guide {background-position:0px -55px}
p.send_type {background-position: -50px -55px;}
p.pay_type {background-position:0px -102px;}
p.sale_service {background-position:-50px -102px;}
p.special_service {background-position:0px -149px;}

/**************************V05***********************************/
/*页脚*/
#footer {
    height:180px;
    text-align:center;
    font-size:12px;
    margin:22px auto;
}

.copyright {
    width:800px;
    margin:0px auto;
    margin-top:12px;
    line-height:20px;
}
.links a {
    margin:0px 10px;
}
.authentication {
    margin:12px auto;
    width:532px;
}
.authentication a {
    margin:10px 12px;
    float:left;
}
#footer a:hover {color:#ff0700;}


/**************************V06***********************************/
/*导航部分*/
nav {
    width:1210px;
    height:40px;
    margin: 10px auto;
    background: #E64346;
    border:1px solid yellow;
}
#category {
    width:210px;
    float:left;
    background: #CD2A2C;
    position:absolute;
}

/*全部商品分类*/
#category>a{
    display: inline-block;
    height: 40px;
    padding-left    : 20px;
    line-height: 40px;
   color: #fff;
   font-size:14px;
   font-weight:bold;
   text-decoration:none;
}
#category>b {
    width:20px;
    height: 20px;
    background-image:url(images/iconlist_2.png);
    background-position: -65px 0;
    background-repeat:no-repeat;
    float:right;
    margin-top:10px;
    margin-right:5px;
}

/*其他导航项*/
#nav_items {
    float:left;
}
#nav_items li {
    float:left;
    width:83px;
    height:40px;
}
#nav_items li a {
    display:block;
    height:40px;
    width: 85px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size:15px;
    text-decoration: none;  
    line-height:40px;
}
#nav_items li a:hover {
    background-color:#BD2A2C;
}      
     
/**************************V07***********************************/
/*分类数据*/
#cate_box{
    display: none;
    position: absolute;
    width: 203px;
    height: 402px;
    padding: 4px 3px 3px 0;
    background: #FAFAFA;
    border:2px solid #E4393C;
    border-top-width: 0px;
    overflow: visible;
    z-index:100;
}
#cate_box>li {
    width:190px;
    height:28px;
    border-bottom: 1px solid #FFF;
}
#cate_box li h3 {
    margin:0px;
    padding:0px 0px 0px 13px;
    font-size:14px;
    width: 186px;
    height: 28px;
    line-height: 28px;
    font-weight: 400;                                
}
#cate_box li h3:hover,#cate_box li h3.hover {
    border-top:1px solid #DDD;
    border-bottom:1px solid #DDD;
    background-color:#fff;
	position:relative;
    z-index:80;
}
#cate_box h3>a {
    color:#333;
    text-decoration:none;
}            

/*弹出部分*/
#cate_box {
    position:relative;
}

.sub_cate_box {
    display:none;
    position: absolute;
    left: 198px;
    top: 2px;
    width: 705px;
    border: 1px solid #DDD;
    background: #fff;
    overflow: visible;
    box-shadow: 0 0 10px #DDD;
    z-index:70;
    height:350px;
    padding:5px;
}
.sub_cate_items {
    float:left;
    height:350px;
}            
.sub_cate_banner {
    width:200px;
    float:right;
    padding:10px;
}
div.close {
    position: absolute;
    top: -1px;
    left: 715px;
    z-index: 2;
    width: 26px;
    height: 26px;
    background: #555;
    text-align: center;
    line-height: 26px;
    color: #fff;
    cursor: pointer;
    font-size: 26px;
}

/*二级分类*/
.sub_cate_items>div {
    clear:left;
    padding:0px;
    margin:0px 0px 10px 10px;
    width:470px;
    border-bottom:1px solid #EEE;
}
.sub_cate_items>div>a {
    display:block;
    float:left;
    width:54px;
    height:22px;
    line-height: 22px;
    text-align: right;
    padding: 3px 8px 0 0px;
    color: #E4393C;
    text-decoration: underline;
    font-weight:700;
}    
.sub_cate_items p {
    width:400px;
    line-height:22px;
    float:left;
    margin:0px;
}             
.sub_cate_items p a {                
    height:22px;
    line-height: 22px;
    text-align: right;
    padding: 0px 8px 0 0px;
    display:inline-block;
    padding: 0 4px;
    margin: 4px 0;
    border-left: 1px solid #ccc;
    color:#666;
    text-decoration:none;    
} 
.sub_cate_items p a:hover {
    color:red;
    text-decoration:underline;     
}

/*弹出分类中的banner部分*/
.sub_cate_banner>div {
    width:100%;
    margin-bottom:5px;
}
.sub_cate_banner h4 {
    padding: 3px 6px 0 0;
    font-weight: 700;
    color: #E4393C;
}
.sub_cate_banner li {
    width: 194px;
    float:left; 
    padding:3px 0px;     
}
.sub_cate_banner li a {
    color:#666;            
    text-decoration:none; 
}
.sub_cate_banner li a:hover {        
    text-decoration:underline; 
}   