@charset "utf-8";
/*通用*/
#banner {
    display:none;
}
/****************************Detail:V01**********************************/
#main {
    overflow:hidden;
    border:1px solid red;
}
/*类别导航路径*/
div.bread-crumb  {
    height:20px;
    padding: 0 0 4px 6px;
    margin: 10px 2px;
    overflow: hidden;
    line-height: 20px;
}
div.bread-crumb a  {
    padding-right:3px;
}
div.bread-crumb a:hover  {
    color: #cd2a2c;
    text-decoration: underline;
}
div.bread-crumb b {                
    font-weight: 700;
    line-height: 20px;
    font-size: 18px;
    font-family: "microsoft yahei";
}
div.bread-crumb span {
    padding:0px 2px;
}
/****************************Detail:V02**********************************/
/*产品介绍*/
#product_intro {
    position:relative;
    padding-left:370px;
    height:474px;
    min-height: 474px;
}
/*产品预览*/ 
#preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 352px;
}
#preview>#mediumDiv
{
    width: 350px;
    height: 350px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    text-align:center;
    position: relative;
}
#preview>#mediumDiv img
{
    vertical-align:middle;
    width:350px;
    height:350px;
}
#preview>#mediumDiv>#mask{
    position: absolute;
    width: 175px;
    height: 175px;
    background: #ffa;
    opacity: 0.5;
    top: 0;
    left: 0;
    display:none;
}
#preview>#mediumDiv>#superMask{
    position: absolute;
    width: 350px;
    height: 350px;
    opacity: 0;
    top: 0;
    left: 0;
    cursor: move;
}
#preview>#largeDiv{
    position: absolute;
    width: 400px;
    height: 400px;
    background: #fff;
    border: 1px solid #ddd;
    top: 0;
    left: 355px;
    z-index: 999;
    display: none;
}
#preview h1
{
    width: 352px;
    height: 54px;
    overflow:hidden;
    padding: 0px;
    position:relative;
}
/*前后移动的按钮*/
#preview a.backward,#preview a.forward,#preview a.backward_disabled,#preview a.forward_disabled {
    width: 17px;
    height: 54px;
    background-image: url(images/iconlist_1.png);
    background-repeat: no-repeat;
    display:block;
    z-index:20;
    position:absolute;
    top:0px;
}
#preview a.backward,#preview a.backward_disabled {
    left:0px;
}
#preview a.forward,#preview a.forward_disabled {
    right:0px;
}
#preview a.backward {
    background-position: 0px -139px;
}
#preview a.backward:hover {
    background-position: -34px -139px;
}
#preview a.backward_disabled {
    background-position: -68px -139px;
}
#preview a.forward {
    background-position: -17px -139px;
}
#preview a.forward:hover {
    background-position: -51px -139px;
}
#preview a.forward_disabled {
    background-position: -85px -139px;
}

/*产品的图标列表*/
#preview #icon_list {
    height: 54px;
    position:absolute;
    left: 20px;
    top: 0px;
}
#preview #icon_list li {
    width: 62px;
    text-align: center;
    float: left;
}
#preview #icon_list li img {
    width: 50px;
    height: 50px;
    padding: 1px;
    border: 1px solid #CECFCE;
}
#preview #icon_list li img:hover {
    border: 2px solid #e4393c;
    padding: 0;
}
/****************************Detail:V03**********************************/
/*产品介绍右侧：name*/
#product_intro>h1 {
    width:840px;
    font: 700 16px/1.5em Arial,Verdana,"microsoft yahei";
    padding-bottom: 10px;
    border-bottom: 1px dotted #ccc;
}
#product_intro>h1>b {
    display: block;
    color: #e4393c;
    font-size: 16px;
}
/*产品介绍右侧：summary*/ 
#summary {
    width: 600px;
    padding: 10px 0;
}
#summary li {
    padding: 6px 0;
    height:18px;
}
#summary a {
    color: #005aa0;
}
#summary li>p {
    width:72px;
    font-family: simsun;
    float: left;
    text-align:right;
    height:23px;
    line-height:23px;
}
#summary li  div.content {
    width:524;
    float: left;
    min-height:23px;
    line-height:23px;
}
#summary_price b {
    color: #e4393c;
    font-size: 18px;
    font-weight: bold;    
}
#summary_grade span {
    margin: 1px 5px 0 0;
    background-position: -109px -239px;
    display: inline-block;
    width: 75px;
    height: 14px;
    background-image: url(images/iconlist_1.png);
    background-repeat: no-repeat;
}
/*配送至*/
#store_select {
    position: relative;
    height: 26px;
    margin-right: 6px;
    float:left;
}
#store_select>h3 {
    position:relative;
    height: 23px;
    background: #fff;
    border: 1px solid #CECBCE;
    padding: 0 20px 0 4px;
    line-height: 23px;
    overflow: hidden;
    z-index:30;
    font-weight:normal;
    font-size:12px;
}
/*当鼠标悬停，显示弹出框时，遮挡下边框*/
#store_select>h3:hover {
    border-bottom:2px solid #fff;
}
#store_select>h3>b {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 17px;
    height: 24px;
    background-position: -264px -188px;
    background-image: url(images/iconlist_1.png);
    background-repeat: no-repeat;
}
/*服务*/
#summary_service a {
    display: inline-block;
    height: 16px;
    line-height: 16px;
    margin-right: 5px;
    background-image: url(images/promise.png);
    background-repeat: no-repeat;
    vertical-align: middle;
}
/****************************Detail:V04**********************************/
/*选择购买*/
#choose {
    width: 598px;
    border-top: 1px dotted #ddd;
    padding-top: 10px;
    margin-bottom: 20px;
}
#choose>li>p {
    width:72px;
    font-family: simsun;
    float: left;
    text-align:right;
    height:23px;
    line-height:23px;
}
#choose_color a {
    position:relative;
    float:left;
    margin: 2px 8px 2px 0;
    padding:1px 6px 1px 1px;
    border: 1px solid #ccc;
}
#choose_color a.selected {
    padding:0px 5px 0px 0px;
    border: 2px solid #e4393c;
}
#choose_color a img {
    vertical-align:middle;
}
#choose_color a.selected b {
    display:block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 12px;
    height: 12px;
    overflow: hidden;
    background-image: url(images/iconlist_1.png);
    background-repeat: no-repeat;
    background-position: -202px -224px;
}
/*购买数量*/
#choose_amount {
    clear:both;
    padding-top:10px;
}
#choose_amount a.btn_reduce,#choose_amount a.btn_add {
    background-position: -216px -190px;
    float:left;
    background-image: url(images/iconlist_1.png);
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    margin-top:5px;
}
#choose_amount a.btn_add {
    float:left;
    background-position: -232px -190px;
}
#choose_amount input {
    width: 30px;
    height: 16px;
    border: 1px solid #ccc;
    padding: 2px;
    text-align: center;
    float:left;
    margin:0px 3px;
}
/*加入购物车*/
#choose_btns a {
    height: 38px;
    line-height: 38px;
    float: left;
    margin:10px 6px 0px 0px;
}
a.choose_btn_append {
    width: 137px;
    background-image: url(images/iconlist_4.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}
a.choose_mark {
    width:78px;
    background-image: url(images/iconlist_4.png);
    background-position: 0 -307px;
}
/****************************Detail:V05**********************************/
/*送货地址的下拉选择框*/
#store_content {
    display:none;
    position: absolute;
    top: 25px;
    left: -45px;
    border: 1px solid #CECBCE;
    width: 390px;
    padding: 15px;
    background: #fff;
    -moz-box-shadow: 0 0 5px #ddd;
    -webkit-box-shadow: 0 0 5px #ddd;
    box-shadow: 0 0 5px #ddd;
    z-index:20;
}
#store_close {
    display:none;
    position: absolute;
    z-index: 21;
    top: 20px;
    left: 365px;
    width: 17px;
    height: 17px;
    background-position: -257px -86px;
    background-image: url(images/iconlist_1.png);
    background-repeat:no-repeat;
    background-color:transparent;
}
#store_tabs {
    position:relative;
    z-index:10;
    width: 100%;
    height: 26px;
    float: left;
    border-bottom: 2px solid #edd28b;
    overflow: visible;
}
#store_tabs li {
    padding: 0 20px 0 10px;
    background-color: #fff;
    height: 25px;
    float:left;
    color: #005aa0;
    cursor:pointer;
    line-height:22px;
    position:relative;
    border: 1px solid #ddd;
    border-bottom: 0;
    margin-right:3px;
}
#store_tabs li.hover {
    border: 2px solid #edd28b;
    border-bottom: 2px solid #fff;
    line-height: 22px;
    color: #005aa0;
    z-index:20;
}
#store_tabs li b {
    position: absolute;
    right: 4px;
    top: 10px;
    display: block;
    width: 7px;
    height: 5px;
    overflow: hidden;
    background-position: 0 -35px;
    /*background-image: url(images/iconlist_5.png);*/
    background-repeat: no-repeat; 
}
#store_tabs li.hover b {
    background-position: 0 -28px;
} 
#store_items {
    padding-top:30px;
    padding-left:10px;
}
#store_items li {
    line-height:38px;
    float:left;
    width:80px;
    cursor:pointer;
    color:#005aa0;
    padding: 2px 0 2px 15px;
}
 #store_items li a {
    color: #005aa0;
    padding:2px 4px;
}
#store_items li a:hover {
    background-color:#005aa0;
    color:#fff;
    text-decoration:underline;
}
/****************************Detail:V06**********************************/
#recent_view {
    width: 1210px;
    margin:0px auto;
    border: 1px solid #ddd;
    border-top: 2px solid #999;
    margin-bottom: 10px;
    height:156px;
}
#recent_view p {
    height: 30px;
    line-height: 30px;
}
#recent_view p span {
    display:block;
    width: 50%;
    font-weight: 400;
    margin-left:10px;
}
#recent_view p b {
    padding-left:20px;
    display:block;
    font-weight: 400;
    color: #005ea7;
    margin-right:10px;
}
#recent_view  ul {
    padding-top: 14px;
}
#recent_view  ul li {
    margin: 0 2px 0 3px;
    width: 86px;
    float: left;
    padding-bottom: 14px;
    text-align: center;
}
#recent_view ul li h6 {
    line-height: 20px;
    color: #e3393c;
}
/****************************Detail:V07（Product Left）**********************************/
#main{border:none;}
#left_product {
    float: left;
    width: 210px;
}

#left_product div>p {
    border: 1px solid #ddd;
    height: 28px;
    line-height: 28px;
    font: 14px/30px 'microsoft yahei';
    background-color: #f7f7f7;
    font-weight: 400;
    padding: 0 8px;
    font-size: 14px;
}
#left_product ul.m_content {
    border: 1px solid #ddd;
    border-top: 0;
    overflow: hidden;
    padding: 4px 2px 4px 6px;
}
#related_sorts,.view_buy {
    margin-bottom: 10px;
    overflow:hidden;
}
/*相关分类*/
#related_sorts li {
    float: left;
    width: 94px;
    height: 18px;
    padding: 3px 6px 3px 0;
    overflow: hidden;
}
/*最终购买*/
div.view_buy li {
    border-bottom: 1px dotted #DEDEDE;
}
div.view_buy ul p {
    text-align:center;
    padding: 5px 0;
    margin-bottom:5px;
}
div.view_buy ul p img {
    /*background: url(images/loading-jd.gif) no-repeat 50% 50%;*/
    border: 0;
    vertical-align: middle;
    height: 100px;
    width: 100px;
}
div.view_buy ul li>a {
    line-height:18px;
    display:block;
    width:100%;
    text-align:center;
}
div.view_buy h2 {
    margin-bottom:10px;
    text-align:center;
}
div.view_buy h2 a {
    color:#E4393C;
    font-weight:bold;
    text-decoration:none;
    font-size:12px;
}
div.view_buy .no_bottom {
    border-bottom:0;
}
/*其他*/
#left_shows li {
    margin-bottom:10px;
}
