body {
	font-size:18px;
	font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu
}
.layui-icon{
	font-size: 30px; 
	color: #1E9FFF;
}
.button-span{
	font-size:13px;
	/*background:#01AAED;/*#01AAED*/
	position:relative;
	margin-left:74%;
	cursor:pointer;
}
/*.layui-btn{
	font-size:13px;
	background:#01AAED;
	position:relative;
	cursor:pointer;
}*/